<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    {% if let Some(error_message) = error %}
    <p class="error">{{ error_message }}</p>
    {% endif %}

    <div class="login-page">
      <div class="form">
        <form method="post" action="/register" >
          <!-- TODO: Add form validation inputs -->
          <div class="login-grid-2-cols">
            <input type="text" name="username" id="username" placeholder="username" />
            <input type="text" name="first_name" id="first_name" placeholder="first name" />
            <input type="text" name="last_name" id="last_name" placeholder="last name" />
          </div>

          <div class="login-grid-2-cols">
            <input type="email" name="email" id="email" placeholder="email" />
            <input type="text" name="address" id="address" placeholder="physical address" />
            <input type="date" id="date_of_birth"  name="date_of_birth" />
          </div>

          <div class="login-grid-2-cols">
            <input type="password" name="password" id="password" placeholder="password" />
            <input type="password" name="confirm_password" id="confirm_password" placeholder="confirm password" />
          </div>

          <button type="submit">Create account</button>
          <p class="message">
            Already have an account? <a href="/login">Sign in</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
