<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <!-- TODO: Add form validation inputs -->
          <div>
            <input type="text" placeholder="username" />
            <input type="text" placeholder="first name" />
            <input type="text" placeholder="last name" />
          </div>

          <div>
            <input type="email" placeholder="email" />
          </div>

          <div>
            <input type="password" placeholder="password" />
            <input type="password" placeholder="confirm password" />
          </div>

          <button>Create account</button>
          <p class="message">
            Already have an account? <a href="/login">Sign in</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
